.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-header {
  text-align: center;
  font-size: 28px;
  border: solid #61dafb;
  background-color: beige;
}

.Tabs {
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
}

.f-tab {
  color: turquoise;
  padding: 1rem;
}
.cg-tab {
  color: turquoise;
  padding: 1rem;
}
.h-tab {
  color: turquoise;
  padding: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
